@use 'variables' as *;

@mixin boton($width, $bgColor, $textColor){
    width:$width ;
    background-color: $bgColor;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    color: $textColor;
    border: 0px;

    &:hover{
        background-color: $textColor;
        color: $bgColor;
        border: 1px solid $bgColor;
    }
}

.btn{
    @include boton(calc(100vw - 32px),#0000ff, #ffffff);
    margin: 16px;
}

@media (min-width: 376px) {
.btn{
    width: 250px;
};
}